<form action="/set" method="post">
  <label for 'key'>
    Key: <input name="key" type="text">
  </label>
  <label for 'value'>
    Value: <input name ="value" type ="text">
  </label>
    <input type ="submit" value ="send">
</form>
